body {
    margin: 0;
    height: 100%;
    background-image: url('/static/images/question_marks_small.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main_table {
    align-content: center;
    width: 80%;
    margin: 0px auto;
}

.main_table tr {
    background-color: white;
    color: #404040;
    border: 2px;
}

.main_table thead tr th:first-child,
tbody tr td:first-child {
    width: 25%;
}

.question_table {
    width: 80%;
    margin: 0px auto;
}

.question_table tr {
    background-color: white;
    color: #404040;
    border: 2px;
}

.answer_table {
    width: 80%;
    margin: 0px auto;
}

.answer_table tr {
    background-color: white;
    color: #404040;
    border: 2px;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-family: arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

h2 {
    position: relative;
    left: -25%;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 28px;
    letter-spacing: -2.2px;
    word-spacing: 1.8px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    margin: 0px auto;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000
}

h3 {
    text-align: center;
    font-family: Courier New, monospace;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h4 {
    text-align: center;
    font-family: Courier New, monospace;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h5 {
    text-align: center;
    font-family: Courier New, monospace;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.buttons_question {
    align-content: center;
    width: 80%;
    margin: 0px auto;
}

.buttons_question #delete_button {
    box-shadow: inset 0px 0px 0px 0px #cf866c;
    background: #d0451b linear-gradient(to bottom, #d0451b 5%, #e34829 100%);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #854629;
}

.buttons_question #delete_button:hover {
    background: #e34829 linear-gradient(to bottom, #e34829 5%, #d0451b 100%);
}

.buttons_question #delete_button:active {
    position: relative;
    top: 1px;
}

.buttons_question #post_answer_button {
    box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #854629;
}

.buttons_question #post_answer_button:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}

.buttons_question #post_answer_button:active {
    position: relative;
    top: 1px;
}

.buttons_question #go_back {
    box-shadow: inset 0px 0px 0px 0px #cf866c;
    background: #d0451b linear-gradient(to bottom, #d0451b 5%, #e34829 100%);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #854629;
}

.buttons_question #go_back:hover {
    background: #e34829 linear-gradient(to bottom, #e34829 5%, #d0451b 100%);
}

.buttons_question #go_back:active {
    position: relative;
    top: 1px;
}

.buttons {
    position: absolute;
    align-content: center;
    margin-left: 37%;
}

.buttons #go_back_main {
    box-shadow: inset 0px 0px 0px 0px #cf866c;
    background: #d0451b linear-gradient(to bottom, #d0451b 5%, #e34829 100%);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #854629;
}

.buttons #go_back_main:hover {
    background: #e34829 linear-gradient(to bottom, #e34829 5%, #d0451b 100%);
}

.buttons #go_back_main:active {
    position: relative;
    top: 1px;
}

.buttons #ask_question {
    box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    text-shadow: 0px 0px 0px #2f6627;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #854629;
}

.buttons #ask_question:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}

.buttons #ask_question:active {
    position: relative;
    top: 1px;
}

.add_question {
    text-align: center;
}

.add_question #go_back_main {
    box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}

.add_question #go_back_main:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}

.add_question #go_back_main:active {
    position: relative;
    top: 1px;
}

.add_question #post_answer_button {
    box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}

.add_question #post_answer_button:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}

.add_question #post_answer_button:active {
    position: relative;
    top: 1px;
}

.answer {
    text-align: center;
}

.answer #post_answer_button {
    box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}

.answer #post_answer_button:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}

.answer #post_answer_button:active {
    position: relative;
    top: 1px;
}

.answer #go_back_to_question {
    box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background: #44c767 linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}

.answer #go_back_to_question:hover {
    background: #5cbf2a linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}

.answer #go_back_to_question:active {
    position: relative;
    top: 1px;
}

.order {
    position: absolute;
    right: 50px;
}