body {
    background-color: #f49f05;
    color: white;
}

.main_table{
    width: 80%;
    margin: 0px auto;
}
.main_table tr{
    background-color: white;
    color: #404040;
    border: 2px;
}
h1 {
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

h2 {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 28px;
letter-spacing: -2.2px;
word-spacing: 1.8px;
color: #000000;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
font-variant: small-caps;
text-transform: none;
}

