body {
    margin: 0;
    height: 100%;
    background-image: url('/static/images/question_marks_small.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #FFFFFF;
}

tr:hover {
    background-color: rgba(255, 150, 69, 0.92);
}

a {
    color: #FFFFFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

