{% extends "layout.html" %}

{% block content %}

    <h3>The question is:</h3>

    <table class="main_table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ question.title }} </td>
            <td> {{ question.message }} </td>
        </tr>
        </tbody>
    </table></br>

    <h3>Post your answer</h3></br>
    <table>
        <tr>
            <form action="/question/{{ question.id }}/new-answer" method="POST">
                <td><textarea id="answer-input" name="answer" rows="8" cols="80" required
                              placeholder="Write your answer here"></textarea></td>
                <td>
                    <button type="submit" , id="post_answer_button">Save answer</button>
            </td>
            <td>
                <a href="/question/{{ question.id }}"></a>
                <button type="button" , id="go_back_to_question">Go back to question</button>
            </form></td>
        </tr>
    </table>

{% endblock %}
