{% extends "layout.html" %}

{% block content %}

    <h3>The question is:</h3>

    <table class="main_table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ question.title }} </td>
            <td> {{ question.message }} </td>
        </tr>
        </tbody>
    </table></br>

    <h3>Post your answer</h3></br>
    <form action="/question/{{ question.id }}/new-answer" method="POST">
        <textarea id="answer-input" name="answer" rows="8" cols="80" required
                  placeholder="Write your answer here"></textarea></br>
        <button type="submit", class="post_answer_button">Save answer</button></br>
    </form>

{% endblock %}
