{% extends "layout.html" %}

{% block content %}

    <h3>The answer is:</h3>

    <table class="main_table">
        <thead>
        <tr>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ answer.message }} </td>
        </tr>
        </tbody>
    </table></br>
    <h2>Comments</h2>
    <table>
        <thead>
        <tr>
            {% if comment %}
                <th>Posted</th>
                <th>Comment</th>
            {% endif %}
        </tr>
        </thead>
        <div class="answer_table" style="text-align: center;">
            <tbody>
            {% if comment %}
                {% for com in comment %}
                    <tr>
                        <td>{{ com.submission_time | safe }}</td>
                        <td>{{ com.message | safe }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <h3>No comments yet.</h3>
            {% endif %}
            </tbody>
        </div>
    </table>

    <h3>Comment</h3></br>
    <table class="main_table">
        <div style="text-align: center;">
            <form action="/answer/{{ answer_id }}/new-comment" method="post">
            <textarea id="comment-input" name="com" rows="8" cols="80" required
                      placeholder="Write your comment here"></textarea><br/>
            <button type="submit" id="green_button">Save comment</button>
            <a href="{{ url_for('all_question') }}">
                <button type="button" id="red_button">Go back to all questions</button>
            </a>
        </form>
        </div>
    </table>



{% endblock %}