{% extends "layout.html" %}

{% block content %}

    <h3>The question is:</h3>

    <table class="main_table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Posted by</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ question.title }} </td>
            <td> {{ question.message }} </td>
            <td> {{ question.username }} </td>
        </tr>
        </tbody>
    </table></br>

    <h3>Comment</h3></br>
    <table class="main_table">
        <form action="/question/{{ question.id }}/new-comment" method="POST">
            <textarea id="comment-input" name="com" rows="8" cols="80" required
                      placeholder="Write your comment here"></textarea><br/>
            <button type="submit" id="green_button">Save comment</button>
            <a href="/question/{{ question.id }}">
                <button type="button" id="red_button">Go back to question</button>
            </a>
        </form>
    </table>







{% endblock %}
