<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@skm@t3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<h1>@skm@t3</h1></br>

<h2>Questions and Answers</h2></br>

<a href="{{ url_for('route_add') }}">
    <button type="button">Ask a question</button>
</a><br>

<h3>The last 5 questions</h3>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Submission Time</th>
        <th>View Number</th>
        <th>Vote Number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    {% for question in questions %}
        <tr>
            <td align="center"> {{ question.id }} </td>
            <td align="center"> {{ question.submission_time }} </td>
            <td align="center"> {{ question.view_number }} </td>
            <td align="center"> {{ question.vote_number }}</td>
            <td align="center"><a
                    href="{{ url_for("route_question", question_id=question['id']) }}">{{ question.title }}</a></td>
            <td> {{ question.message | safe }}</td>
            {% if question.image %}
                <td><img src="./static/{{ question.image }}" width="80" height="80"></td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table></br>

<a href="{{ url_for('all_question') }}">
    <button type="button">See all question</button>
</a></br>

</body>
</html>