{% extends "layout.html" %}

{% block content %}
    <table class="buttons">
        <tr>
            <div style="text-align: center;">
                <td><a href="{{ url_for('route_add_question') }}">
                    <button type="button" id="green_button">Ask a question</button>
                </a></td>
                <td><a href="{{ url_for('all_question') }}">
                    <button type="button" id="red_button">See all question</button>
                </a></td>
            </div>

        </tr>
    </table><br>
    <br>
    <br>
    <br>
    <h2>The last 5 questions: newest first</h2>

    <table class="main_table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Posted</th>
            <th>Posted by</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ url_for("route_question", question_id=question['id']) }}">{{ question.title }}</a></td>
                <td> {{ question.message | safe }}</td>
                <td> {{ question.submission_time }} </td>
                <td> {{ question.username }} </td>
                {% if question.image %}
                    <td><img src="./static/{{ question.image }}" width="80" height="80"></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table></br>

{% endblock %}