<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@skm@t3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='images/question_mark.ico') }}"/>
</head>
<body>
    <h1>@skm@t3</h1><br/>
    <h3>Questions and Answers</h3>
    <h4>"1N73LL1G3NC3 15 7H3 4B1L17Y 70 4D4P7 70 CH4NG3"</h4>
    <h5>573PH3N H4WK1NG</h5>

    <form action="/search" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search.." name="q">
        <button type="submit"><i>Search</i></button>
    </form>

    {% block content %} {% endblock %}

</body>
</html>