{% extends "layout.html" %}

{% block content %}

    <table class="buttons">
        <tr>
            <td><a href="{{ url_for('route_add_question') }}">
                <button type="button" id="ask_question">Ask a question</button>
            </a></td>
            <td><a href="{{ url_for('last_numbered_question') }}">
                <button type="button" id="go_back_main">Go back to main</button>
            </a></td>
        </tr>
    </table><br>
    <br/>
    <br>
    <table class="order">
        <td>
            <select onchange="this.form.submit()" name="order" form="order_by">
                <option value="title">Sort by...</option>
                <option value="title">Title</option>
                <option value="message">Message</option>
                <option value="submission_time">Submission time</option>
            </select>
            <form action="/list" id="order_by" method="GET"></form>
        </td>
    </table>

    <h2>All questions: newest first</h2>

    <table border="1">
        <table class="main_table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Message</th>
                <th>Submission Time</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td><a
                            href="{{ url_for("route_question", question_id=question['id']) }}">{{ question.title }}</a>
                    </td>
                    <td> {{ question.message | safe }}</td>
                    <td> {{ question.submission_time }} </td>
                    {% if question.image %}
                        <td><img src="./static/{{ question.image }}" width="80" height="80"></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}