{% extends "layout.html" %}

{% block content %}

    <h2>Question</h2>

    <table class="question_table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ question.title | safe }}</td>
            <td>{{ question.message | safe }}</td>
        </tr>
        </tbody>
    </table>
    <h2>Comments</h2>
    <table>
        <thead>
        <tr>
            {% if comment %}
                <th>Posted</th>
                <th>Comment</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if comment %}
            {% for com in comment %}
                <tr>
                    <td>{{ com.submission_time | safe }}</td>
                    <td>{{ com.message | safe }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <h3>No comments yet.</h3>
        {% endif %}
        </tbody>
    </table>
    <h2>Answers</h2>

    <table class="answer_table">
        <thead>
        <tr>
            {% if answers %}
                <th>Posted</th>
                <th>Message</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if answers %}
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.submission_time | safe }}</td>
                    <td>{{ answer.message | safe }}</td>
                    <td>
                        <a href="{{ url_for('delete_answer_alone', answer_id=answer['id'], question_id=question['id']) }}">
                            <button type="button" id="red_button">Delete answer</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('route_update_answer', answer_id=answer['id']) }}">
                            <button type="button" id="update">Update</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h3>No answer yet.</h3>
        {% endif %}
        </tbody>
    </table><br/>

    <table class="buttons_question">
        <tr>
            <td>
                <a href="{{ url_for('delete_question', question_id=question['id']) }}">
                    <button type="button" id="red_button">Delete question</button>
                </a></td>
            <td><a href="{{ url_for('route_post_answer', question_id=question['id']) }}">
                <button type="button" id="green_button">Post an answer</button>
            </a></td>
            <td>
                <a href="{{ url_for('route_comment_to_question', question_id=question['id']) }}">
                    <button type="button" id="comment">Comment</button>
                </a>
            </td>
            <td>
                <a href="{{ url_for('route_update_question', question_id=question['id']) }}">
                    <button type="button" id="update">Update</button>
                </a>
            </td>
            <td><a href="/list">
                <button type="button" id="red_button">Go back</button>
            </a></td>
        </tr>
    </table>

{% endblock %}