{% extends "layout.html" %}

{% block content %}

    <h2>Question</h2>

    <table class="question_table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ question.title | safe }}</td>
                <td>{{ question.message | safe }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Answers</h2>

    <table class="answer_table">
        <thead>
        <tr>
            {% if answers %}
                <th>Message</th>
                <th>Posted</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if answers %}
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.message | safe }}</td>
                    <td>{{ answer.submission_time | safe }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <h3>No answer yet.</h3>
        {% endif %}
        </tbody>
    </table></br>


    <a href="{{ url_for('delete_question', question_id=question['id']) }}">
        <button type="button" class="delete_button">Delete question</button>
    </a></br>
    <a href="{{ url_for('route_post', question_id=question['id']) }}">
        <button type="button" class="post_answer_button">Post an answer</button>
    </a></br>
    <a href="/list">
        <button type="button" class="back_to_main_button">Go back to main</button>
    </a></br>

{% endblock %}