{% extends "layout.html" %}

{% block head %}

    <title>@skm@t3 - Registration</title>

{% endblock %}

{% block content %}

    <h2>{{ message if message }}</h2>

    <h3>User registration</h3>
    <script type="text/javascript">

        function checkPassword(str) {
            if (str.length < 6) {
                alert(unescape("Password has to be at least 6 characters long!"));
                document.contact.message.focus();
                return false;
            }
        }

        function checkForm(form) {
            if (form.username.value === "") {
                alert("Username cannot be blank!");
                form.username.focus();
                return false;
            }
            re = /^\w+$/;
            if (!re.test(form.username.value)) {
                alert("Username must contain only letters, numbers and underscores!");
                form.username.focus();
                return false;
            }
            if (form.pwd1.value !== form.pwd2.value) {
                alert("The password and confirm password isn't match!");
                form.pwd1.focus();
                return false;
            }

            if (form.pwd1.value === "") {
                alert("Password cannot be blank!");
                form.username.focus();
                return false;
            }


            return true;
        }

    </script>

    <form method="POST" action="" onsubmit="return checkForm(this);">
        <label for="username-input">Username:</label>
        <input type="text" id="username_input" name="username" placeholder="username"><br>
        <label for="pwd1-input">Password:</label>
        <input type="password" id="pwd1_input" name="pwd1" placeholder="password"><br>
        <label for="pwd2-input">Confirm password:</label>
        <input type="password" id="pwd2_input" name="pwd2" placeholder="confirm password"><br>
        <button type="submit" id="green_button">Registration</button>
    </form>
    <a href="/">
        <button type="button" id="red_button">Go back to main page</button>
    </a>
{% endblock %}