{% extends "layout.html" %}

{% block content %}

    <h3>Edit answer</h3>
    <div class="edit-answer"></div>
    <form action="/answer/{{ answer_id }}/update-answer" method="post">
        <label for="answer_message">Message:</label> <br/>
        <textarea id="answer_message" name="message" rows="8" cols="80">{{ answer.message }}</textarea><br/>
        <button type="submit" id="green_button">Save message</button>
        <a href="{{ url_for('all_question') }}">
            <button type="button" id="red_button">Go back</button>
        </a>

{% endblock %}