{% extends "layout.html" %}

{% block head %}

    <title>@skm@t3 - Update answer</title>

{% endblock %}

{% block content %}

    <h3>Edit answer</h3>
    <table class="main_table" style="text-align: center">
        <form action="/answer/{{ answer_id }}/update-answer" method="post">
            <label for="answer_message">Message:</label> <br/>
            <textarea id="answer_message" name="message" rows="8" cols="80">{{ answer.message }}</textarea>
    </table>
    <table class="buttons" style="text-align: center">
        <tr>
            <button type="submit" id="green_button">Save message</button>
            <a href="{{ url_for('all_question') }}">
                <button type="button" id="red_button">Go back</button>
            </a>
        </tr>
    </table>



{% endblock %}